@import url(http://fonts.googleapis.com/css?family=Tauri|Oxygen+Mono|HeadlandOne);
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}

.written {
  font-family: "Headland One", serif;
  font-size: 17px;
}

header {
  margin-bottom: 10.5px;
  border-bottom: solid thin black;
}

img {
  margin: 20px auto;
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: ;
  margin: 0 auto;
  margin-top: 10px;
}

thead {
  border-bottom: 2px solid black;
}

th, td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px 10px;
}

td {
  border-top: 1px solid #c6c9cc;
  text-align: left;
}

.main-title {
  font-size: 1em;
  font-weight: normal;
}

.mj { width: 10px}

.article-title {
  font-size: 1.5em;
  margin-bottom: 0;
  text-decoration: underline;
}

.article-date {
 margin-bottom: 10px;
}

code {
  font-family: "Oxygen Mono", monospace;
  border-radius: 15px;
  background: #efe;
}

pre {
  overflow: auto;
  margin-top: 1.125em;
  padding: 10px;
}

.written pre {
  font-family: "Headland One", serif;
  font-size: 17px;
}

pre .line-numbers {
  margin-right: 10.5px;
}

blockquote {
  margin: 0;
  background: #eee;
  padding: 15px;
}

.section-header {
  background: black;
  color: white;
  text-align: center;
}
