@import url(http://fonts.googleapis.com/css?family=Tauri|Oxygen+Mono);
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}

header {
  margin-bottom: 10.5px;
  border-bottom: solid thin black;
}

img {
  margin: 20px auto;
  display: block;
}

.main-title {
  font-size: 1em;
  font-weight: normal;
}

.article-title {
  font-size: 1.5em;
  margin-bottom: 0;
  text-decoration: underline;
}

.article-date {
 margin-bottom: 10px;
}

pre, code {
  border-radius: 15px;
  font-family: "Oxygen Mono", monospace;
  background: #efe;
}

pre {
  overflow: auto;
  font-family: "Oxygen Mono", monospace;
  margin-top: 1.125em;
  padding: 10px;
}

pre .line-numbers {
  margin-right: 10.5px;
}

blockquote {
  margin: 0;
  background: #eee;
  padding: 15px;
}

.section-header {
  background: black;
  color: white;
  text-align: center;
}
